.card {
  display: flex;
  border: 2px black solid;
  display: flex;
  height: 100px;
  width: 300px;
  margin-top: 70px;
  margin-left: 30px;
  justify-content: center;
  align-items: stretch;
  border-radius: 8px;
}

.card {
  display: flex;
  border-radius: 8px;
}

.color-box {
  width: 60px;
  height: 100px;
}
