.header {
  background-color: #4d96ff;
  padding: 16px;
  color: white;
}

.site-name {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  margin-top: 12px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

p {
  font-size: 50px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-variant: small-caps;
  text-align: center;
}
